In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd
import descartes
import datetime
import numpy as np
from geopandas import GeoDataFrame
from shapely.geometry import Point
matplotlib.rcParams['pdf.fonttype'] = 42


%matplotlib inline

In [2]:
df=pd.read_csv('2018_Green_Taxi_Trip_Data.csv')

In [3]:
df=df.drop(columns=['VendorID', 'store_and_fwd_flag','extra','mta_tax','improvement_surcharge','tolls_amount'])

In [4]:
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,ehail_fee,total_amount,payment_type,trip_type
0,01/01/2018 12:18:50 AM,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,NaN,7.3,2,1.0
1,01/01/2018 12:30:26 AM,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,NaN,15.8,2,1.0
2,01/01/2018 12:07:25 AM,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,NaN,11.3,2,1.0
3,01/01/2018 12:32:40 AM,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,NaN,-4.3,3,1.0
4,01/01/2018 12:32:40 AM,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,NaN,4.3,2,1.0

In [5]:
df=df.drop(columns=['ehail_fee'])

In [6]:
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type
0,01/01/2018 12:18:50 AM,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0
1,01/01/2018 12:30:26 AM,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0
2,01/01/2018 12:07:25 AM,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0
3,01/01/2018 12:32:40 AM,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0
4,01/01/2018 12:32:40 AM,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0

In [7]:
df['month'] = df['lpep_pickup_datetime'].str.extract('^([0-9]{1,2})/[0-9]+/[0-9]{4}')

In [8]:
df['year'] = df['lpep_pickup_datetime'].str.extract('^[0-9]{1,2}/[0-9]+/([0-9]{4}).*?')

In [9]:
df['lpep_pickup_datetime'] = pd.to_datetime(df.lpep_pickup_datetime, format='%m/%d/%Y %I:%M:%S %p')

In [10]:
df['day_of_week'] = df['lpep_pickup_datetime'].dt.day_name()

In [11]:
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week
0,2018-01-01 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday
1,2018-01-01 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday
2,2018-01-01 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday
3,2018-01-01 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday
4,2018-01-01 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday

In [12]:
df['lpep_pickup_datetime'] = df['lpep_pickup_datetime'].dt.strftime('%m/%d/%Y %H:%M:%S')

In [13]:
df['hour'] = df['lpep_pickup_datetime'].str.extract('^[0-9]{1,2}/[0-9]+/[0-9]{4}\s([0-9]{2}):[0-9]{2}:[0-9]{2}')

In [14]:
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00

In [15]:
df['hour'].value_counts()

18    610245
17    581546
19    559289
16    546914
15    515394
20    473665
14    471877
09    449119
21    435461
10    433923
12    429991
11    427465
13    426050
08    406538
22    395685
23    345345
07    270728
00    266849
01    193878
02    139010
06    135943
03    112135
04     99326
05     80927
Name: hour, dtype: int64

In [16]:
df['month'].value_counts()

03    836973
04    800125
05    797283
01    793594
02    769810
06    739352
10    710482
12    685442
07    684442
09    666877
08    666325
11    656598
Name: month, dtype: int64

In [17]:
df['year'].value_counts()

2018    8806705
2010        251
2009        140
2019         83
2008         75
2017         44
2020          2
2030          2
2081          1
Name: year, dtype: int64

In [18]:
df.loc[df['year'] == '2081']

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour
1527751,06/24/2081 17:40:37,06/24/2081 06:42:47 PM,1,93,117,1,16.95,52.0,0.0,55.96,1,1.0,06,2081,Tuesday,17

In [19]:
df['year'].value_counts()

2018    8806705
2010        251
2009        140
2019         83
2008         75
2017         44
2020          2
2030          2
2081          1
Name: year, dtype: int64

In [20]:
df1=df[df.year == '2018']

In [21]:
df1.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00

In [22]:
df=df1

In [59]:
(df['month'].value_counts()/8806705*100).round().to_csv('monthcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [60]:
(df['day_of_week'].value_counts()/8806705*100).round().to_csv('daycount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [61]:
(df['hour'].value_counts()/8806705*100).round().to_csv('hourcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [26]:
df['RatecodeID'].value_counts()/8806705*100

1     96.973772
5      2.721029
2      0.189958
4      0.068777
3      0.044546
6      0.001158
99     0.000761
Name: RatecodeID, dtype: float64

In [27]:
df['PULocationID'].value_counts()/8806705*100

74     6.452720
75     5.751527
41     5.530661
7      4.570007
82     4.263433
166    3.822360
42     3.382037
97     2.789988
129    2.712081
95     2.680912
181    2.619493
33     2.513392
255    2.447669
244    2.373964
65     2.328306
25     2.295876
260    2.175093
66     1.884042
223    1.873073
130    1.527143
116    1.474377
145    1.247209
49     1.107463
61     1.054537
226    0.982808
43     0.961279
112    0.894546
256    0.888562
196    0.887937
52     0.871416
         ...
148    0.001101
245    0.001067
125    0.001022
50     0.000988
144    0.000965
118    0.000942
143    0.000931
251    0.000908
88     0.000829
261    0.000818
158    0.000772
151    0.000749
214    0.000727
172    0.000647
187    0.000625
5      0.000477
232    0.000352
45     0.000307
44     0.000238
209    0.000227
30     0.000216
176    0.000216
84     0.000182
224    0.000148
109    0.000148
4      0.000136
2      0.000125
204    0.000102
99     0.000034
12     0.000023
Name: PULocationID, Length: 260, dtype: float64

In [28]:
df['DOLocationID'].value_counts()/8806705*100

74     3.421439
42     3.329384
41     3.000294
7      2.977992
129    2.696639
75     2.302110
181    2.131081
166    1.915802
82     1.812085
223    1.695356
97     1.506466
61     1.496882
95     1.451860
236    1.444672
244    1.416761
116    1.375702
238    1.359226
226    1.323412
49     1.320471
260    1.283011
33     1.157209
138    1.125222
25     1.088364
17     1.086502
179    1.073682
112    1.047054
263    1.008402
152    0.935571
151    0.903721
239    0.861718
         ...
111    0.010776
184    0.009459
58     0.008982
253    0.008743
59     0.008176
206    0.007392
115    0.006665
221    0.006597
12     0.006552
156    0.006223
23     0.006098
118    0.003952
27     0.003872
214    0.003020
245    0.002691
251    0.002657
6      0.002612
172    0.002487
187    0.002157
109    0.001930
44     0.001669
84     0.001510
5      0.001499
30     0.001238
176    0.001135
204    0.000897
2      0.000386
99     0.000125
105    0.000034
110    0.000011
Name: DOLocationID, Length: 262, dtype: float64

In [62]:
(df['passenger_count'].value_counts()/8806705*100).round().to_csv('psngcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [63]:
(df['payment_type'].value_counts()/8806705*100).round().to_csv('pmntcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [64]:
(df['trip_type'].value_counts()/8806705*100).round().to_csv('triptpcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [65]:
(df['tip_amount'].value_counts()/8806705*100).round().to_csv('tippcount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [33]:
df=df1

In [34]:
df1['fare_per_person']=df1['total_amount']/df1['passenger_count']

In [35]:
pd.options.mode.chained_assignment = None

In [36]:
df1

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.00,7.30,2,1.0,01,2018,Monday,00,1.460
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.00,15.80,2,1.0,01,2018,Monday,00,3.160
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.00,11.30,2,1.0,01,2018,Monday,00,11.300
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.00,-4.30,3,1.0,01,2018,Monday,00,-4.300
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.00,4.30,2,1.0,01,2018,Monday,00,4.300
5,01/01/2018 00:38:35,01/01/2018 01:08:50 AM,1,255,161,1,5.63,21.0,0.00,22.30,2,1.0,01,2018,Monday,00,22.300
6,01/01/2018 00:18:41,01/01/2018 12:28:22 AM,1,189,65,5,1.71,8.5,0.00,9.80,2,1.0,01,2018,Monday,00,1.960
7,01/01/2018 00:38:02,01/01/2018 12:55:02 AM,1,189,225,5,3.45,14.5,3.16,18.96,1,1.0,01,2018,Monday,00,3.792
8,01/01/2018 00:05:02,01/01/2018 12:18:35 AM,1,129,82,1,1.61,10.0,0.00,11.30,2,1.0,01,2018,Monday,00,11.300
9,01/01/2018 00:35:23,01/01/2018 12:42:07 AM,1,226,7,1,1.87,7.5,0.00,8.80,2,1.0,01,2018,Monday,00,8.800
10,01/01/2018 00:21:00,01/01/2018 12:39:04 AM,1,145,129,2,4.12,16.5,0.00,17.80,2,1.0,01,2018,Monday,00,8.900
11,01/01/2018 00:56:29,01/01/2018 01:04:44 AM,1,7,223,2,1.22,7.0,0.00,8.30,2,1.0,01,2018,Monday,00,4.150
12,01/01/2018 00:11:48,01/01/2018 12:30:13 AM,1,255,189,1,4.67,17.0,0.00,18.30,2,1.0,01,2018,Monday,00,18.300
13,01/01/2018 00:57:59,01/01/2018 01:12:26 AM,1,97,188,1,2.71,11.5,3.84,16.64,1,1.0,01,2018,Monday,00,16.640
14,01/01/2018 00:36:58,01/01/2018 12:51:08 AM,1,244,75,2,6.01,19.0,4.00,24.30,1,1.0,01,2018,Monday,00,12.150
15,01/01/2018 00:07:40,01/01/2018 12:15:20 AM,1,225,37,1,1.90,8.0,3.00,12.30,1,1.0,01,2018,Monday,00,12.300
16,01/01/2018 00:25:09,01/01/2018 12:42:04 AM,1,36,145,2,4.30,15.5,3.35,20.15,1,1.0,01,2018,Monday,00,10.075
17,01/01/2018 00:42:52,01/01/2018 01:00:53 AM,1,145,173,1,6.90,22.0,0.00,23.30,1,1.0,01,2018,Monday,00,23.300
18,01/01/2018 00:06:22,01/01/2018 12:08:17 AM,1,49,49,1,0.30,3.5,0.00,4.80,2,1.0,01,2018,Monday,00,4.800
19,01/01/2018 00:34:53,01/01/2018 12:52:55 AM,1,40,113,1,4.47,16.5,3.56,23.31,1,1.0,01,2018,Monday,00,23.310
20,01/01/2018 00:25:08,01/01/2018 12:28:27 AM,1,179,7,1,0.50,4.5,0.00,5.80,1,1.0,01,2018,Monday,00,5.800
21,01/01/2018 00:36:26,01/01/2018 12:51:07 AM,1,7,193,1,1.82,9.0,0.00,10.30,1,1.0,01,2018,Monday,00,10.300
22,01/01/2018 00:53:05,01/01/2018 01:26:51 AM,1,97,74,1,11.79,36.0,7.46,46.71,1,1.0,01,2018,Monday,00,46.710
23,01/01/2018 00:11:41,01/01/2018 12:22:10 AM,1,255,112,1,1.90,9.0,3.05,13.35,1,1.0,01,2018,Monday,00,13.350
24,01/01/2018 00:40:32,01/01/2018 01:01:20 AM,1,255,28,1,10.30,29.0,5.00,35.30,1,1.0,01,2018,Monday,00,35.300
25,01/01/2018 00:15:30,01/01/2018 12:25:17 AM,1,80,80,1,1.66,8.5,1.96,11.76,1,1.0,01,2018,Monday,00,11.760
26,01/01/2018 00:35:44,01/01/2018 12:48:23 AM,1,255,232,1,2.91,12.0,3.32,16.62,1,1.0,01,2018,Monday,00,16.620
27,01/01/2018 00:55:56,01/01/2018 01:28:05 AM,1,256,50,1,6.09,25.0,6.58,32.88,1,1.0,01,2018,Monday,00,32.880
28,01/01/2018 00:41:36,01/01/2018 12:56:36 AM,1,179,75,5,5.30,17.0,3.66,21.96,1,1.0,01,2018,Monday,00,4.392
29,01/01/2018 00:36:47,01/01/2018 12:44:55 AM,1,41,75,1,1.63,8.0,1.86,11.16,1,1.0,01,2018,Monday,00,11.160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8807273,12/31/2018 23:24:56,12/31/2018 11:31:54 PM,1,82,83,1,1.13,6.5,0.00,7.80,2,1.0,12,2018,Monday,23,7.800
8807274,12/31/2018 23:52:15,01/01/2019 12:03:33 AM,1,129,129,1,1.65,8.5,0.00,9.80,2,1.0,12,2018,Monday,23,9.800
8807275,12/31/2018 23:08:16,12/31/2018 11:17:43 PM,1,166,41,1,1.37,8.0,1.86,11.16,1,1.0,12,2018,Monday,23,11.160
8807276,12/31/2018 23:19:46,12/31/2018 11:34:23 PM,1,41,42,1,2.68,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,13.800
8807277,12/31/2018 23:35:09,12/31/2018 11:40:01 PM,1,42,42,1,0.83,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800
8807278,12/31/2018 23:57:29,01/01/2019 12:26:13 AM,1,166,136,1,7.03,26.0,0.00,27.30,2,1.0,12,2018,Monday,23,27.300
8807279,12/31/2018 23:26:47,12/31/2018 11:34:27 PM,1,42,152,1,1.37,7.0,0.00,8.30,2,1.0,12,2018,Monday,23,8.300
8807280,12/31/2018 23:45:02,12/31/2018 11:51:04 PM,1,42,41,1,1.15,6.5,0.00,7.80,2,1.0,12,2018,Monday,23,7.800
8807281,12/31/2018 23:00:40,12/31/2018 11:15:35 PM,1,166,159,1,2.96,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,13.800
8807282,12/31/2018 23:20:43,12/31/2018 11:23:05 PM,1,167,247,1,0.57,4.0,0.00,5.30,2,1.0,12,2018,Monday,23,5.300
8807283,12/31/2018 23:40:43,12/31/2018 11:48:06 PM,1,82,179,1,3.11,10.5,2.00,13.80,1,1.0,12,2018,Monday,23,13.800
8807284,12/31/2018 23:01:08,12/31/2018 11:28:58 PM,1,264,48,2,6.30,23.0,0.00,24.30,2,1.0,12,2018,Monday,23,12.150
8807285,12/31/2018 23:09:46,12/31/2018 11:26:30 PM,1,247,41,2,2.69,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,6.900
8807286,12/31/2018 23:38:36,12/31/2018 11:51:49 PM,1,42,137,1,6.99,20.5,0.00,21.80,2,1.0,12,2018,Monday,23,21.800
8807287,12/31/2018 23:11:13,12/31/2018 11:19:32 PM,1,41,263,1,2.10,9.0,2.05,12.35,1,1.0,12,2018,Monday,23,12.350
8807288,12/31/2018 23:36:05,12/31/2018 11:40:47 PM,1,41,74,1,0.90,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800
8807289,12/31/2018 23:53:01,01/01/2019 12:01:50 AM,1,41,42,1,1.70,8.5,0.00,9.80,2,1.0,12,2018,Monday,23,9.800
8807290,12/31/2018 23:08:44,12/31/2018 11:12:45 PM,1,42,152,1,0.72,5.0,0.00,6.30,2,1.0,12,2018,Monday,23,6.300
8807291,12/31/2018 23:05:00,12/31/2018 11:12:18 PM,1,181,181,1,0.82,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800
8807292,12/31/2018 23:17:07,12/31/2018 11:40:13 PM,1,255,249,1,4.80,18.5,3.96,23.76,1,1.0,12,2018,Monday,23,23.760
8807293,12/31/2018 23:05:49,12/31/2018 11:20:24 PM,1,223,157,1,4.54,15.5,4.20,21.00,1,1.0,12,2018,Monday,23,21.000
8807294,12/31/2018 23:17:51,12/31/2018 11:19:05 PM,1,42,42,1,0.34,3.0,0.00,4.30,2,1.0,12,2018,Monday,23,4.300
8807295,12/31/2018 23:20:25,12/31/2018 11:42:24 PM,1,42,137,1,7.09,23.5,0.00,24.80,2,1.0,12,2018,Monday,23,24.800
8807296,12/31/2018 23:31:26,12/31/2018 11:48:58 PM,1,33,11,1,7.20,22.0,0.00,23.30,2,1.0,12,2018,Monday,23,23.300
8807297,12/31/2018 23:49:27,12/31/2018 11:59:50 PM,1,61,49,1,2.40,10.0,0.00,11.30,1,1.0,12,2018,Monday,23,11.300
8807298,12/31/2018 23:41:11,12/31/2018 11:45:57 PM,1,33,25,1,0.60,5.0,0.00,6.30,2,1.0,12,2018,Monday,23,6.300
8807299,12/31/2018 23:37:04,12/31/2018 11:55:23 PM,1,159,248,1,2.80,13.0,0.00,14.30,2,1.0,12,2018,Monday,23,14.300
8807300,12/31/2018 23:50:33,12/31/2018 11:57:43 PM,1,49,17,1,1.49,7.0,0.00,8.30,2,1.0,12,2018,Monday,23,8.300
8807301,12/31/2018 23:08:07,12/31/2018 11:10:02 PM,1,193,193,1,0.00,0.0,0.00,0.00,1,1.0,12,2018,Monday,23,0.000
8807302,12/31/2018 23:30:35,12/31/2018 11:31:23 PM,1,193,193,1,0.00,0.0,0.00,0.00,1,1.0,12,2018,Monday,23,0.000

In [41]:
df1['date'] = df1['lpep_pickup_datetime'].str.extract('^([0-9]{2}/[0-9]{2})/[0-9]{4}\s[0-9]{2}:[0-9]{2}:[0-9]{2}')

In [42]:
df1

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person,date
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.00,7.30,2,1.0,01,2018,Monday,00,1.460,01/01
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.00,15.80,2,1.0,01,2018,Monday,00,3.160,01/01
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.00,11.30,2,1.0,01,2018,Monday,00,11.300,01/01
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.00,-4.30,3,1.0,01,2018,Monday,00,-4.300,01/01
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.00,4.30,2,1.0,01,2018,Monday,00,4.300,01/01
5,01/01/2018 00:38:35,01/01/2018 01:08:50 AM,1,255,161,1,5.63,21.0,0.00,22.30,2,1.0,01,2018,Monday,00,22.300,01/01
6,01/01/2018 00:18:41,01/01/2018 12:28:22 AM,1,189,65,5,1.71,8.5,0.00,9.80,2,1.0,01,2018,Monday,00,1.960,01/01
7,01/01/2018 00:38:02,01/01/2018 12:55:02 AM,1,189,225,5,3.45,14.5,3.16,18.96,1,1.0,01,2018,Monday,00,3.792,01/01
8,01/01/2018 00:05:02,01/01/2018 12:18:35 AM,1,129,82,1,1.61,10.0,0.00,11.30,2,1.0,01,2018,Monday,00,11.300,01/01
9,01/01/2018 00:35:23,01/01/2018 12:42:07 AM,1,226,7,1,1.87,7.5,0.00,8.80,2,1.0,01,2018,Monday,00,8.800,01/01
10,01/01/2018 00:21:00,01/01/2018 12:39:04 AM,1,145,129,2,4.12,16.5,0.00,17.80,2,1.0,01,2018,Monday,00,8.900,01/01
11,01/01/2018 00:56:29,01/01/2018 01:04:44 AM,1,7,223,2,1.22,7.0,0.00,8.30,2,1.0,01,2018,Monday,00,4.150,01/01
12,01/01/2018 00:11:48,01/01/2018 12:30:13 AM,1,255,189,1,4.67,17.0,0.00,18.30,2,1.0,01,2018,Monday,00,18.300,01/01
13,01/01/2018 00:57:59,01/01/2018 01:12:26 AM,1,97,188,1,2.71,11.5,3.84,16.64,1,1.0,01,2018,Monday,00,16.640,01/01
14,01/01/2018 00:36:58,01/01/2018 12:51:08 AM,1,244,75,2,6.01,19.0,4.00,24.30,1,1.0,01,2018,Monday,00,12.150,01/01
15,01/01/2018 00:07:40,01/01/2018 12:15:20 AM,1,225,37,1,1.90,8.0,3.00,12.30,1,1.0,01,2018,Monday,00,12.300,01/01
16,01/01/2018 00:25:09,01/01/2018 12:42:04 AM,1,36,145,2,4.30,15.5,3.35,20.15,1,1.0,01,2018,Monday,00,10.075,01/01
17,01/01/2018 00:42:52,01/01/2018 01:00:53 AM,1,145,173,1,6.90,22.0,0.00,23.30,1,1.0,01,2018,Monday,00,23.300,01/01
18,01/01/2018 00:06:22,01/01/2018 12:08:17 AM,1,49,49,1,0.30,3.5,0.00,4.80,2,1.0,01,2018,Monday,00,4.800,01/01
19,01/01/2018 00:34:53,01/01/2018 12:52:55 AM,1,40,113,1,4.47,16.5,3.56,23.31,1,1.0,01,2018,Monday,00,23.310,01/01
20,01/01/2018 00:25:08,01/01/2018 12:28:27 AM,1,179,7,1,0.50,4.5,0.00,5.80,1,1.0,01,2018,Monday,00,5.800,01/01
21,01/01/2018 00:36:26,01/01/2018 12:51:07 AM,1,7,193,1,1.82,9.0,0.00,10.30,1,1.0,01,2018,Monday,00,10.300,01/01
22,01/01/2018 00:53:05,01/01/2018 01:26:51 AM,1,97,74,1,11.79,36.0,7.46,46.71,1,1.0,01,2018,Monday,00,46.710,01/01
23,01/01/2018 00:11:41,01/01/2018 12:22:10 AM,1,255,112,1,1.90,9.0,3.05,13.35,1,1.0,01,2018,Monday,00,13.350,01/01
24,01/01/2018 00:40:32,01/01/2018 01:01:20 AM,1,255,28,1,10.30,29.0,5.00,35.30,1,1.0,01,2018,Monday,00,35.300,01/01
25,01/01/2018 00:15:30,01/01/2018 12:25:17 AM,1,80,80,1,1.66,8.5,1.96,11.76,1,1.0,01,2018,Monday,00,11.760,01/01
26,01/01/2018 00:35:44,01/01/2018 12:48:23 AM,1,255,232,1,2.91,12.0,3.32,16.62,1,1.0,01,2018,Monday,00,16.620,01/01
27,01/01/2018 00:55:56,01/01/2018 01:28:05 AM,1,256,50,1,6.09,25.0,6.58,32.88,1,1.0,01,2018,Monday,00,32.880,01/01
28,01/01/2018 00:41:36,01/01/2018 12:56:36 AM,1,179,75,5,5.30,17.0,3.66,21.96,1,1.0,01,2018,Monday,00,4.392,01/01
29,01/01/2018 00:36:47,01/01/2018 12:44:55 AM,1,41,75,1,1.63,8.0,1.86,11.16,1,1.0,01,2018,Monday,00,11.160,01/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8807273,12/31/2018 23:24:56,12/31/2018 11:31:54 PM,1,82,83,1,1.13,6.5,0.00,7.80,2,1.0,12,2018,Monday,23,7.800,12/31
8807274,12/31/2018 23:52:15,01/01/2019 12:03:33 AM,1,129,129,1,1.65,8.5,0.00,9.80,2,1.0,12,2018,Monday,23,9.800,12/31
8807275,12/31/2018 23:08:16,12/31/2018 11:17:43 PM,1,166,41,1,1.37,8.0,1.86,11.16,1,1.0,12,2018,Monday,23,11.160,12/31
8807276,12/31/2018 23:19:46,12/31/2018 11:34:23 PM,1,41,42,1,2.68,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,13.800,12/31
8807277,12/31/2018 23:35:09,12/31/2018 11:40:01 PM,1,42,42,1,0.83,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800,12/31
8807278,12/31/2018 23:57:29,01/01/2019 12:26:13 AM,1,166,136,1,7.03,26.0,0.00,27.30,2,1.0,12,2018,Monday,23,27.300,12/31
8807279,12/31/2018 23:26:47,12/31/2018 11:34:27 PM,1,42,152,1,1.37,7.0,0.00,8.30,2,1.0,12,2018,Monday,23,8.300,12/31
8807280,12/31/2018 23:45:02,12/31/2018 11:51:04 PM,1,42,41,1,1.15,6.5,0.00,7.80,2,1.0,12,2018,Monday,23,7.800,12/31
8807281,12/31/2018 23:00:40,12/31/2018 11:15:35 PM,1,166,159,1,2.96,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,13.800,12/31
8807282,12/31/2018 23:20:43,12/31/2018 11:23:05 PM,1,167,247,1,0.57,4.0,0.00,5.30,2,1.0,12,2018,Monday,23,5.300,12/31
8807283,12/31/2018 23:40:43,12/31/2018 11:48:06 PM,1,82,179,1,3.11,10.5,2.00,13.80,1,1.0,12,2018,Monday,23,13.800,12/31
8807284,12/31/2018 23:01:08,12/31/2018 11:28:58 PM,1,264,48,2,6.30,23.0,0.00,24.30,2,1.0,12,2018,Monday,23,12.150,12/31
8807285,12/31/2018 23:09:46,12/31/2018 11:26:30 PM,1,247,41,2,2.69,12.5,0.00,13.80,2,1.0,12,2018,Monday,23,6.900,12/31
8807286,12/31/2018 23:38:36,12/31/2018 11:51:49 PM,1,42,137,1,6.99,20.5,0.00,21.80,2,1.0,12,2018,Monday,23,21.800,12/31
8807287,12/31/2018 23:11:13,12/31/2018 11:19:32 PM,1,41,263,1,2.10,9.0,2.05,12.35,1,1.0,12,2018,Monday,23,12.350,12/31
8807288,12/31/2018 23:36:05,12/31/2018 11:40:47 PM,1,41,74,1,0.90,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800,12/31
8807289,12/31/2018 23:53:01,01/01/2019 12:01:50 AM,1,41,42,1,1.70,8.5,0.00,9.80,2,1.0,12,2018,Monday,23,9.800,12/31
8807290,12/31/2018 23:08:44,12/31/2018 11:12:45 PM,1,42,152,1,0.72,5.0,0.00,6.30,2,1.0,12,2018,Monday,23,6.300,12/31
8807291,12/31/2018 23:05:00,12/31/2018 11:12:18 PM,1,181,181,1,0.82,5.5,0.00,6.80,2,1.0,12,2018,Monday,23,6.800,12/31
8807292,12/31/2018 23:17:07,12/31/2018 11:40:13 PM,1,255,249,1,4.80,18.5,3.96,23.76,1,1.0,12,2018,Monday,23,23.760,12/31
8807293,12/31/2018 23:05:49,12/31/2018 11:20:24 PM,1,223,157,1,4.54,15.5,4.20,21.00,1,1.0,12,2018,Monday,23,21.000,12/31
8807294,12/31/2018 23:17:51,12/31/2018 11:19:05 PM,1,42,42,1,0.34,3.0,0.00,4.30,2,1.0,12,2018,Monday,23,4.300,12/31
8807295,12/31/2018 23:20:25,12/31/2018 11:42:24 PM,1,42,137,1,7.09,23.5,0.00,24.80,2,1.0,12,2018,Monday,23,24.800,12/31
8807296,12/31/2018 23:31:26,12/31/2018 11:48:58 PM,1,33,11,1,7.20,22.0,0.00,23.30,2,1.0,12,2018,Monday,23,23.300,12/31
8807297,12/31/2018 23:49:27,12/31/2018 11:59:50 PM,1,61,49,1,2.40,10.0,0.00,11.30,1,1.0,12,2018,Monday,23,11.300,12/31
8807298,12/31/2018 23:41:11,12/31/2018 11:45:57 PM,1,33,25,1,0.60,5.0,0.00,6.30,2,1.0,12,2018,Monday,23,6.300,12/31
8807299,12/31/2018 23:37:04,12/31/2018 11:55:23 PM,1,159,248,1,2.80,13.0,0.00,14.30,2,1.0,12,2018,Monday,23,14.300,12/31
8807300,12/31/2018 23:50:33,12/31/2018 11:57:43 PM,1,49,17,1,1.49,7.0,0.00,8.30,2,1.0,12,2018,Monday,23,8.300,12/31
8807301,12/31/2018 23:08:07,12/31/2018 11:10:02 PM,1,193,193,1,0.00,0.0,0.00,0.00,1,1.0,12,2018,Monday,23,0.000,12/31
8807302,12/31/2018 23:30:35,12/31/2018 11:31:23 PM,1,193,193,1,0.00,0.0,0.00,0.00,1,1.0,12,2018,Monday,23,0.000,12/31

In [66]:
(df1['date'].value_counts()).to_csv('datecount.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [67]:
df1['fare_per_person'].value_counts().to_csv('fareperp.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [45]:
df1['prange']=df1['fare_per_person']

In [46]:
df1.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person,date,prange
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00,1.46,01/01,1.46
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00,3.16,01/01,3.16
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00,11.30,01/01,11.30
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00,-4.30,01/01,-4.30
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00,4.30,01/01,4.30

In [47]:
bins = [0, 10, 20, 30, 40, 50, 100, np.inf]
names = ['<10', '10-20', '20-30', '30-40', '40-50','50-100','100+']
# df['prange'] = pd.cut(df['fare_per_person'], bins, labels=names)

d = dict(enumerate(names, 1))

df1['prange'] = np.vectorize(d.get)(np.digitize(df['fare_per_person'], bins))

In [48]:
df1.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person,date,prange
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00,1.46,01/01,<10
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00,3.16,01/01,<10
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00,11.30,01/01,10-20
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00,-4.30,01/01,None
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00,4.30,01/01,<10

In [49]:
bins = [0, 10, 20, 30, 40, 50, 100, np.inf]
names = ['<10', '10-20', '20-30', '30-40', '40-50','50-100','100+']
# df['prange'] = pd.cut(df['fare_per_person'], bins, labels=names)

d = dict(enumerate(names, 1))

df1['farerange'] = np.vectorize(d.get)(np.digitize(df['total_amount'], bins))

In [69]:
(df['prange'].value_counts()/8806705*100).round().to_csv('farerangeperp.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [70]:
df['farerange'].value_counts().round().to_csv('farerange.csv',index=True)

/Users/xuechenhu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [71]:
df1.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person,date,prange,farerange
0,01/01/2018 00:18:50,01/01/2018 12:24:39 AM,1,236,236,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00,1.46,01/01,<10,<10
1,01/01/2018 00:30:26,01/01/2018 12:46:42 AM,1,43,42,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00,3.16,01/01,<10,10-20
2,01/01/2018 00:07:25,01/01/2018 12:19:45 AM,1,74,152,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00,11.30,01/01,10-20,10-20
3,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00,-4.30,01/01,None,None
4,01/01/2018 00:32:40,01/01/2018 12:33:41 AM,1,255,255,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00,4.30,01/01,<10,<10

In [72]:
df2=df1

In [73]:
df2=df2.drop(columns=['PULocationID'])

In [74]:
df2=df2.drop(columns=['DOLocationID'])

In [75]:
df2=df2.drop(columns=['RatecodeID'])

In [76]:
df2=df2.drop(columns=['lpep_dropoff_datetime'])

In [77]:
df2=df2.drop(columns=['lpep_pickup_datetime'])

In [78]:
df1.to_csv('2018green.csv',index=False)

In [79]:
df2.head()

,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,month,year,day_of_week,hour,fare_per_person,date,prange,farerange
0,5,0.70,6.0,0.0,7.3,2,1.0,01,2018,Monday,00,1.46,01/01,<10,<10
1,5,3.50,14.5,0.0,15.8,2,1.0,01,2018,Monday,00,3.16,01/01,<10,10-20
2,1,2.14,10.0,0.0,11.3,2,1.0,01,2018,Monday,00,11.30,01/01,10-20,10-20
3,1,0.03,-3.0,0.0,-4.3,3,1.0,01,2018,Monday,00,-4.30,01/01,None,None
4,1,0.03,3.0,0.0,4.3,2,1.0,01,2018,Monday,00,4.30,01/01,<10,<10

In [81]:
df3=df2

In [82]:
num = df3._get_numeric_data()

In [84]:
num[num < 0] = 0

In [86]:
df3.to_csv('2018green.csv',index=False)